#solution-viz {
  --color-brand-main-purple: #d6b9ff;
  --color-frontline-main-coral: #e0594f;
  --color-frontline-main-plum: #733250;
  --color-frontline-main-green: #99d68f;
  --color-frontline-main-tangerine: #ff8a53;
  --color-frontline-main-teal: #2b91ad;

  --text-color-dark: #202124;
  --text-color-light: #ffffff;

  max-width: 1000px;
  margin: 0 auto;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#solution-viz svg {
  background-color: #f8f8f8;
  border: 1px solid black;
}

#solution-viz .petal path,
#solution-viz .category path {
  fill: gray;
}

#solution-viz [data-category="Direct Care Solutions"] path {
  fill: var(--color-frontline-main-coral);
}
#solution-viz [data-category="Direct Care Solutions"] text {
  fill: var(--text-color-light);
}

#solution-viz [data-category="Employee Engagement & Culture"] path {
  fill: var(--color-frontline-main-green);
}
#solution-viz [data-category="Employee Engagement & Culture"] text {
  fill: var(--text-color-dark);
}

#solution-viz [data-category="Financial Support & Benefits"] path {
  fill: var(--color-frontline-main-plum);
}
#solution-viz [data-category="Financial Support & Benefits"] text {
  fill: var(--text-color-light);
}

#solution-viz [data-category="Flexible Work & Leave Policies"] path {
  fill: var(--color-brand-main-purple);
}
#solution-viz [data-category="Flexible Work & Leave Policies"] text {
  fill: var(--text-color-dark);
}

#solution-viz [data-category="Learning & Assessment"] path {
  fill: var(--color-frontline-main-tangerine);
}
#solution-viz [data-category="Learning & Assessment"] text {
  fill: var(--text-color-dark);
}

#solution-viz [data-category="Policy, Advocacy, & Systemic Change"] path {
  fill: var(--color-frontline-main-teal);
}
#solution-viz [data-category="Policy, Advocacy, & Systemic Change"] text {
  fill: var(--text-color-light);
}

#solution-viz .petal .text {
  font-size: 14px;
}

#solution-viz .centerText .title {
  font-family: "VCHenrietta", sans-serif;
  font-size: 61px;
}

#solution-viz .centerText .subtitle {
  font-size: 16px;
  letter-spacing: 0.32px;
}
