/***** color variables ********/
#solution-viz {
  --color-frontline-main-violet: #d6b9ff;
  --color-frontline-main-violetdeep: #6a3daa;

  --color-frontline-main-coral: #e0594f;
  --color-frontline-main-coraldeep: #b63b32;

  --color-frontline-main-plum: #733250;
  --color-frontline-main-plumdeep: #5d1e3b;

  --color-frontline-main-green: #99d68f;
  --color-frontline-main-greendeep: #3d6537;

  --color-frontline-main-tangerine: #ff8a53;
  --color-frontline-main-tangerinedeep: #bc592a;

  --color-frontline-main-teal: #2b91ad;
  --color-frontline-main-tealdeep: #0b5d73;

  --text-color-dark: #202124;
  --text-color-light: #ffffff;
}

/* viz container */
#solution-viz {
  max-width: 1332px;
  margin: 0 auto;
}

#solution-viz svg {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: transform 1.5s ease-in-out 0.6s;
}
// transition for text when viz in view or
#solution-viz svg text.petal-text {
  transition: opacity 2s ease 1s;
}
#solution-viz svg.not-in-view text {
  transition: opacity 2s ease 1s;
  opacity: 0;
}
#solution-viz svg.in-view text {
  transition: opacity 2s ease 1s;
  opacity: 1;
}

/***** petals ******/
#solution-viz .petal text {
  font-size: 14px;
  pointer-events: none;
}
#solution-viz .petal {
  cursor: pointer;
  transition: opacity 0.5s ease;
}
#solution-viz .petal.petal__not_hovered {
  opacity: 0.24;
}

#solution-viz .category {
  transition: opacity 0.5s ease;
  font-size: 16px;
}
#solution-viz .category path {
  opacity: 0.2;
}

#solution-viz .detail-button-group image {
  pointer-events: none;
  opacity: 0;
}

#solution-viz .detail-button-group.hovered image {
  opacity: 1;
}

/******** inner content ********/
#solution-viz .innerContent {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* inner content --- default */
#solution-viz .innerContent .innerContent__default {
  justify-content: center;
  row-gap: 24px;
  padding-top: 8px;
}
#solution-viz .innerContent .title {
  font-family: "VC Henrietta", sans-serif;
  font-size: 61px;
  line-height: 110%;
  margin: 48px 0 0 0;
  max-width: 80%;
}
#solution-viz .innerContent .subtitle {
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 145%;
  text-wrap-style: balance;
  margin: 0;
  max-width: 80%;
}
#solution-viz .hover-image {
  width: 63px;
}

/* inner content --- hovered */
#solution-viz .innerContent .innerContent__hovered {
  padding: 36px 0 0;
}
#solution-viz .category-image {
  width: 122px;
  height: 122px;
  z-index: 1;
}
#solution-viz .category-pill {
  background-color: gray; /* Fallback color */
  border-radius: 100px;
  width: fit-content;
  padding: 8px 24px;
  margin-top: -12px;
  margin-bottom: 64px;
  font-size: 16px;
  line-height: 145%;
  letter-spacing: 0.32px;
}
#solution-viz .solution-title {
  font-family: "VC Henrietta", sans-serif;
  font-size: 27px;
  line-height: 120%;
  margin: 0;
  padding: 0 8px 24px;
}
#solution-viz .solution-subtitle {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.42px;
  margin: 0;
  padding: 0 16px;
  max-width: 80%;
  text-wrap-style: balance;
}

/******** colors based on category data  ***********/
#solution-viz .petal path,
#solution-viz .category path {
  fill: gray;
}

/* category 1 */
#solution-viz [data-category="Direct Care Solutions"],
#solution-viz [data-category="Direct Care Solutions"] path {
  fill: var(--color-frontline-main-coral);
  background-color: var(--color-frontline-main-coral);
}
#solution-viz [data-category="Direct Care Solutions"],
#solution-viz [data-category="Direct Care Solutions"] text {
  fill: var(--text-color-light);
  color: var(--text-color-light);
}
#solution-viz [data-category="Direct Care Solutions"] text.cat-text {
  fill: var(--color-frontline-main-coraldeep);
}

/* category 2 */
#solution-viz [data-category="Employee Engagement & Culture"],
#solution-viz [data-category="Employee Engagement & Culture"] path {
  fill: var(--color-frontline-main-green);
  background-color: var(--color-frontline-main-green);
}
#solution-viz [data-category="Employee Engagement & Culture"],
#solution-viz [data-category="Employee Engagement & Culture"] text {
  fill: var(--text-color-dark);
  color: var(--text-color-dark);
}
#solution-viz [data-category="Employee Engagement & Culture"] text.cat-text {
  fill: var(--color-frontline-main-greendeep);
}

/* category 3 */
#solution-viz [data-category="Financial Support & Benefits"],
#solution-viz [data-category="Financial Support & Benefits"] path {
  fill: var(--color-frontline-main-plum);
  background-color: var(--color-frontline-main-plum);
}
#solution-viz [data-category="Financial Support & Benefits"],
#solution-viz [data-category="Financial Support & Benefits"] text {
  fill: var(--text-color-light);
  color: var(--text-color-light);
}
#solution-viz [data-category="Financial Support & Benefits"] text.cat-text {
  fill: var(--color-frontline-main-plumdeep);
}
#solution-viz .category[data-category="Financial Support & Benefits"] path {
  opacity: 0.1;
}

/* category 4 */
#solution-viz [data-category="Flexible Work & Leave Policies"],
#solution-viz [data-category="Flexible Work & Leave Policies"] path {
  fill: var(--color-frontline-main-violet);
  background-color: var(--color-frontline-main-violet);
}
#solution-viz [data-category="Flexible Work & Leave Policies"],
#solution-viz [data-category="Flexible Work & Leave Policies"] text {
  fill: var(--text-color-dark);
  color: var(--text-color-dark);
}
#solution-viz [data-category="Flexible Work & Leave Policies"] text.cat-text {
  fill: var(--color-frontline-main-violetdeep);
}

/* category 5 */
#solution-viz [data-category="Learning & Assessment"],
#solution-viz [data-category="Learning & Assessment"] path {
  fill: var(--color-frontline-main-tangerine);
  background-color: var(--color-frontline-main-tangerine);
}
#solution-viz [data-category="Learning & Assessment"],
#solution-viz [data-category="Learning & Assessment"] text {
  fill: var(--text-color-dark);
  color: var(--text-color-dark);
}
#solution-viz [data-category="Learning & Assessment"] text.cat-text {
  fill: var(--color-frontline-main-tangerinedeep);
}

/* category 6 */
#solution-viz [data-category="Policy, Advocacy, & Systemic Change"],
#solution-viz [data-category="Policy, Advocacy, & Systemic Change"] path {
  fill: var(--color-frontline-main-teal);
  background-color: var(--color-frontline-main-teal);
}
#solution-viz [data-category="Policy, Advocacy, & Systemic Change"],
#solution-viz [data-category="Policy, Advocacy, & Systemic Change"] text {
  fill: var(--text-color-light);
  color: var(--text-color-light);
}
#solution-viz
  [data-category="Policy, Advocacy, & Systemic Change"]
  text.cat-text {
  fill: var(--color-frontline-main-tealdeep);
}
